<div class="boot-screen">
  <div class="boot-art">
  _  _ ___ __  __ _   __   _
 | \| | __||  \/  | | | | | |
 | .` | _| | |\/| | |_| | | |
 |_|\_|___||_|  |_|\___/   o
  </div>
  <div class="boot-lines">
    <div>[ <span class="ok">OK</span> ] booting tamagotchi runtime...</div>
    <div>[ <span class="ok">OK</span> ] recombobulating the hatching machine...</div>
    <div>[ <span class="ok">OK</span> ] confuddling the cracking module...</div>
    <div>[ __ ] no active companion found!!</div>
    <br>
    <div>to begin, you need to hatch a companion!!</div>
    <div>they will need <span class="hl">food</span>, <span class="hl">play</span>, <span class="hl">sleep</span>, and <span class="hl">care</span>.</div>
    <div>don't abandon them. they will remember!!! :(</div>
  </div>
  <%= link_to "$ hatch a new companion", new_pet_path, class: "boot-action" %>
</div>
